body {
  font-family: Helvetica, sans-serif;
  background-color: #d0dff2;
  margin: 0;
  padding: 40px;
}

a {
  color: #1929a0;
}

.highlighted {
  background-color: #0d0d0d;
  color: #66ff33;
  padding: 2px;
  font-family: monospace;
}

.title {
  text-align: center;
}

.rounded {
  border-radius: 50%;
  width: 200px;
  margin: 40px auto;
  display: block;
}

#list-title {
  color: #37217a;
}

.declawing {
  background-image: url("images/declawing-image.jpeg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
}

#declawingFact {
  color: white;
}

#farming {
  background-image: url("images/farm-image.jpeg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  color: white;
}

#testing {
  background-image: url("images/testing-image.jpeg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  color: white;
}

#puppyMills {
  background-image: url("images/puppymills.jpg");
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  color: white;
}

#declawingAnswer1,
#declawingAnswer2 {
  display: none;
}

#farmingAnswer1,
#farmingAnswer2 {
  display: none;
}

#testingAnswer1,
#testingAnswer2 {
  display: none;
}

#puppyAnswer1, #puppyAnswer2 {
  display: none;
}

.declawing, #farming, #testing {
   width: 500px;
   margin: 40px auto;
   display: block;
}
