body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 20px;
  background-color: 	#ccf2ff;
  margin: 0;
  padding: 40px;

    background-image: url("images/bluePatterns.jpg");
}
#opening{
  border-style: groove;
  border-width: 10px;
  border-color: #ccffff;
}

a {
  color: #1929a0;
}

.highlighted {
  background-color: #0d0d0d;
  color: #66ff33;
  padding: 2px;
  font-family: monospace;
  opacity:1;
}

.title {
  text-align: center;
  opacity:1;
  font-family: 'Maven Pro', sans-serif;
  font-size: 50px;
}

.rounded {
  border-radius: 25px;
   background: url(paper.gif);
   background-position: left top;
   background-repeat: repeat;
   padding: 30px;
   width: 300px;
   height: 300px;
   display: block;
    margin: auto;
  display: block;
  opacity:1;
}
.wrapper {
background-color:white;
opacity:0.7;
padding: 17px;


}

#list-title {
  color: #37217a;
}

.declawing {

  background-color: #00cccc;
  width: 400px;
  height: 400px;
  padding: 20px;
}

#declawingFact {

}

#farming {
  background-color: #00cccc;
  width: 400px;
  height: 400px;
    padding: 20px;

}

#testing {
  background-color: #00cccc;
  width: 400px;
  height: 400px;
    padding: 20px;

}

#puppyMills {
  background-color: #00cccc;
  width: 400px;
  height: 400px;
    padding: 20px;

}

#declawingAnswer1,
#declawingAnswer2 {
  display: none;
}

#farmingAnswer1,
#farmingAnswer2 {
  display: none;
}

#testingAnswer1,
#testingAnswer2 {
  display: none;
}

#puppyAnswer1, #puppyAnswer2 {
  display: none;
}

.declawing, #farming, #testing, #puppyMills {
   width: 500px;
   height: 500px;
   margin: 40px auto;
   display: block;
   font-family: 'Aladin', cursive;
   color: black;
   opacity: 1;
   font-size: 24px

}

#declawingImage1 {
  display: block;
  width: 250px;
  margin: auto;

  border-style: ridge

}
button {
  width: 150px;
  height: 50px;
  background-color: #ccffff;
  color: black;
  font-size: 20px;
  font-family: 'Aladin', cursive;

  display: block;
  margin: auto;
  text-align: center;
  opacity: 1;

}


.a {
  visibility: hidden;
}
#yes1, #yes2, #yes3, #yes4 {
  display: block;
  margin: auto;
  width: 150px;
  float: left;
}

#no1, #no2, #no3, #no4 {
  display: block;
  margin: auto;
  width: 150px;
  float: right;
}
#farmingImage1{
  display: block;
  width: 250px;
  margin: 40px auto;
  border-style: ridge;
}
#testingImage1{
  display: block;
  width: 250px;
  margin: 40px auto;
  border-style: ridge;
}
#puppyImage1{
  display: block;
  width: 250px;
  margin: 40px auto;
  border-style: ridge;
}

.answer {
  background-color: #ccffff;
  color: black;
  font-family: 'Aladin', cursive;
  display: block;
  width: 500px;
  height: 500px;
  margin: 40px auto;
  font-size: 25px;
  padding: 20px;
  border-style: dotted;
  border-color: white;
  border-width: 20px;
  opacity: 1;
}

.declawingStat, .puppyImg2, .testingImg2, .dairyImage {
  display: block;
  width: 300px;
  margin: auto;
  opacity: 1;
}

h2{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
}
